body {backround-color: #fofofo;font-family: Arial, sans-serif; }

div.project {
  border: 1px solid #ccs;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  backround-color: #e0f7fa;}

a {
  text-decoration: none:
  color: #007BFF;
  font-weight: bold;
}
a:hover {
  color: #0056b3;
}
